doctype html
html
  head
    title= title
    link(rel='icon' href=static.logo type='image/x-icon')
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
    #main welcome to node server
